/* EditProduct.css */
.edit-product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4; /* Background color for the page */
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Style for the label and input in the same row */
.label-input-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; /* Align labels to the left and inputs to the right */
  width: 100%;
  margin-bottom: 20px;
}

.label-input-row label {
  font-size: 18px;
  flex: 1; /* Labels take up 1/3 of the available space */
  text-align: left; /* Align labels to the left */
}

.label-input-row input[type="text"],
.label-input-row input[type="number"],
.label-input-row input[type="file"] {
  flex: 2; /* Inputs take up 2/3 of the available space */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  text-align: right; /* Align inputs to the right */
}

/* Style for the current image */
#current-image {
  max-width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

input[type="file"] {
  padding: 5px;
}

button {
  padding: 10px 20px;
  background-color: #000000; /* Blue button color */
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background-color: #353434; /* Darker blue on hover */
}
