/* Login.css */
.form-container {
    width: 50%;
    padding: 20px;
    borderRight: 1px solid #ccc;
    display: flex;
    justifyContent: center;
    alignItems: center;
    background-color: #f0e0d0 !important; /* Add !important */
  }
  body, html {
    margin: 0;
    padding: 0;
  }
  
  .container {
    margin: 0;
    padding: 0;
  }
  
  